// 1. Fonts:
$sansSerif: Inter, Helvetica, Arial, sans-serif;

// 2. Colors:
// 2.1 Text colors:
$gray900: #18191F;
$gray800: #474A57;
$gray700: #969BAB;
$gray300: #D9DBE1;
$gray200: #EEEFF4;
$gray100: #F4F5F7;

// 2.2 Brand colors:
$purple: #8C30F5;
$purple800: #D6B1FF;
$purple100: #F1E4FF;
$turquoise: #2EC5CE;
$turquoise800: #75E3EA;
$turquoise100: #D5FAFC;
$orange: #FE9A22;
$orange800: #FFC278;
$orange100: #FFE3C1;
$pink: #F22BB2;
$pink800: #FF72D2;
$pink100: #FFB1E6;

// 2.3 Accent colors:
$pastelGreen: #C1E5C0;
$pastelBlue: #C0DAE5;
$peach: #F39F9F;
$lightPeach: #FDD9D9;
$cottonCandy: #FFC3D8;
$cyan: #A0DCFF;
