.hero {
  position: relative;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__content {}
  &__title {
    color: $gray900;
    font-size: 72px;
    line-height: 1.36;
    font-weight: 800;
    margin: 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(242, 247, 255, 0.7);
    transform: translateY(0px) skewY(-5deg);
    z-index: -1;
    &::after {
      content: 'rere';
      height: 30px;
      width: 200px;
      background: #000;
      z-index: 2;
    }
  }
}